{
  "extends": "airbnb",
  "rules": {
    "space-before-function-paren": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "no-unneeded-ternary": 0
  }
}